body {
    margin: auto;
    width: 1000px; /* Pages are often forced to some reasonable width. */
    background-image: url("../img/camo.png");
    background-repeat: repeat;
    background-color: #525d3a;
}


header {
    background-color: #BFB078;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
}

h1,h2, h3 {
    margin-left: 15px;
    margin-top: 0px;
}

nav {

    background-color: #35392c;
}

section, aside {
    background-color: #525d3a;

}

header.banner {
    height: 290px;
    position: relative;
    background-image: url("../img/ibizony.png");
    background-repeat: no-repeat;
}

#page {
    background-color: #525d3a;
}

h1.title {
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    background-color: #847b5b;
    text-align: center;
}

details, summary{
    background-color: #819359;
}


article aside {
    float: left;
}

article footer {
    clear: left;
}

a:link, a:visited {
    color: #525d3a; text-decoration: none
}

nav ul {
    list-style-type: none; /* Remove bullets. */
    margin: 0px;
    padding: 0px;

}

nav ul li {
    display: inline-block; /* Put list items next to each other. */

}

nav ul li a {
    height: 20px;
    display: block; /* Make whole link are clickable. */
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    color: #525d3a;
}

nav ul li a:hover {
    background-color: #BFB078;
}

nav li a.aktualna {
    color: lawngreen;
}
.pozycja {
    margin-top: 212px;
}
table.daneOsobowe, table.daneOsobowe tr, table.daneOsobowe td, table.daneOsobowe th,
table.wyksztalcenie, table.wyksztalcenie tr, table.wyksztalcenie td, table.wyksztalcenie th,
table.doswiadczenie, table.doswiadczenie tr, table.doswiadczenie td, table.doswiadczenie th {
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
}

table.daneOsobowe td, table.daneOsobowe th, table.wyksztalcenie td, table.wyksztalcenie th,
table.doswiadczenie td, table.doswiadczenie th{
    padding: 15px;
    text-transform: capitalize;
    text-align: center;
}

table.daneOsobowe, table.wyksztalcenie, table.doswiadczenie {
    margin: 15px;
}

table.daneOsobowe th, table.daneOsobowe caption, table.wyksztalcenie th, table.wyksztalcenie caption,
table.doswiadczenie th, table.doswiadczenie caption {
    text-transform: capitalize;

}

td.dane, tr.dane, th.dane {

    font-weight: bold;
    background-color: #819359;
}

section p, section summary {
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}

.label {
    float: left;
}

form input, form select {
    background-color: khaki;
    border: 1px solid;
}

form input[type=reset]:hover, form input[type=submit]:hover {
    background-color: #525d3a;
}

form fieldset {
    margin: 10px;
}

ul.tech  {
    list-style-image: url("../img/x2.png");

}

ul.umiejetnosci{
list-style-image: url("../img/piesc.png");

}

ul.zainteresowania{
    list-style-image: url("../img/pilka.png");

}

.cookiesDialog {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: black;
    color: lightgray;
    padding: 10px;
}

.cookiesDialog p {
    margin: 0px;
}